<div class = "container container-white" style = "min-height: calc(100vh - 72px); padding-top: 30px;">
  <p>
    <strong>Seu Plano</strong><br>
    <% if current_user.is_manager %>
      <i class="fas fa-briefcase"></i> LactoRun para Treinadores e Professores
    <% else %>
      <i class="fas fa-running"></i> LactoRun para Atletas e Estudantes
    <% end %>
  </p>
  <hr>
  <p>
    <strong>Informação Pessoal</strong>
    
    <!-- Nome -->
    <div class="form-group row">
      <label for="name" class="col-sm-2 col-form-label shy-label">Nome</label>
      <div class="col-sm-10 form-control-plaintext">
        <%= current_user.name %>
        <button class = "btn btn-link btn-sm">Editar</a>
      </div>
    </div>
    
    <!-- Email -->
    <div class="form-group row">
      <label for="email" class="col-sm-2 col-form-label shy-label">Email</label>
      <div class="col-sm-10 form-control-plaintext">
        <%= current_user.email %>
        <button class = "btn btn-link btn-sm">Editar</a>
      </div>
    </div>
    
    <!-- Data de Nascimento -->
    <div class="form-group row">
      <label for="bday" class="col-sm-2 col-form-label shy-label">Data de Nascimento</label>
      <div class="col-sm-10 form-control-plaintext">
        <%= current_user.bday %>
        <button class = "btn btn-link btn-sm">Editar</a>
      </div>
    </div>
    
    <!-- Senha -->
    <div class="form-group row">
      <label for="bday" class="col-sm-2 col-form-label shy-label">Senha</label>
      <div class="col-sm-10 form-control-plaintext">
        *****
        <button class = "btn btn-link btn-sm">Editar</a>
      </div>
    </div>

    
  
  </p>
  
  <hr>
  
  <p>
    <%= button_to "Excluir minha conta LactoRun", registration_path(resource_name), data: { confirm: "Você tem certeza?" }, method: :delete, class: "btn btn-outline-danger btn-sm" %>
    <small>Excluir sua conta é algo permanente. Todos os seus dados serão apagados imediatamente e você não poderá recuperá-los.</small>
  </p>
</div>