<nav class="navbar navbar-expand-lg navbar-dark navbar-bg sticky-top navbar-lactorun">
    <div class = "container">
        
        <!-- Logo e Título-->
        <a class="navbar-brand font-comfortaa" href=<%= root_path %>>
            <img src="/assets/logos/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
            LactoRun
        </a>
        
        <!-- Botão de Ação -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Alterna navegação">
            <span class="navbar-toggler-icon"></span>
        </button>
          
        
        
        <!-- Tudo dentro dessa div irá sumir -->
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item"> <!-- 'active' to active-->
                    <a class="nav-link" href="">Como funciona?</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">Protocolo</a>
                </li>
            </ul>
            <% if user_signed_in? %>
                <a class = "footer-a mr-sm" href = ""><%= current_user.email%></a>
                <%= button_to "Sair", destroy_user_session_path, method: :delete, :class => 'btn btn-outline-danger btn-block btn-nav'  %>
            <% else %>
                <button class="btn btn-outline-info btn-block btn-nav mr-sm my-2 my-lg-0" type="button" data-toggle="modal" data-target="#modalEntrar">Fazer login</button>        
                <button class="btn btn-outline-info btn-block btn-nav my-0" type="button" data-toggle="modal" data-target="#modalRegistro">Inscrever-se!</button>
            <% end %>
        </div>
    </div>
</nav>