<div class = " container container-white" style = "padding-top: 20px;"  id = "plans">
    <div class = "subtopic" >
        Planos do LactoRun
    </div>
    
    O LactoRun pode ser usado por dois tipos de usuários: <br>
    
    <strong>Aqueles que vão administrar</strong>
    como Treinadores e Professores e <strong>aqueles que vão praticar</strong> que são os Atletas e 
    os Estudantes. Apesar de ser uma decisão fácil, é importante estar atento na hora de escolher pois
    <strong> essa decisão não pode ser desfeita.</strong><br><br>
    
    <p>Segue a tabela com as principais diferenças entre cada modo de usar o LactoRun:</p>
    
    <table class = "table font-oswald">
        <thead>
            <tr>
                <td></td>
                <td>
                    <center>
                        <img src = "/assets/whistle.png" height = "40" width = "auto" style = "margin-bottom: 10px"><br>
                        Treinadores e Professores
                    </center>
                </td>
                <td>
                    <center>
                        <img src = "/assets/running-shoes.png" height = "40" width = "auto" style = "margin-bottom: 10px"><br>
                        Atletas e Estudantes
                    </center>
                </td>
            </tr>
        </thead> 
        <tbody>
            <tr>
                <td>Registrar sprints</td>
                <td><center>x</center></td>
                <td><center>v</center></td>
            </tr>
            <tr>
                <td>Acompanhar gráficos</td>
                <td><center>v</center></td>
                <td><center>v¹</center></td>
            </tr>
            <tr>
                <td>Criar e administrar turmas</td>
                <td><center>v</center></td>
                <td><center>x²</center></td>
            </tr>
        </tbody>
    </table>
    <small>
        ¹ Atletas e estudantes podem acompanhar gráficos da sua própria 
    evolução, já Treinadores e Professores além desses gráficos, têm acesso a informações
    de toda turma.<br>
        ² Atletas e estudantes podem participar de turmas.
    </small>
</div>