<div class = "index-header">
    <img class = "img-fluid index-header-img" src = "/assets/guy-site.jpg">
    <div class = "index-header-text">
        <h1 class = "font-comfortaa"><strong>LactoRun</strong></h1>
        Inovação Tecnológica na Corrida e um Incentivo à Interdisciplinaridade
    </div>
</div>

<div class = "subtopic" style = "margin-top: 0px;">
    O que é o LactoRun?
</div>
<div class = "row">
    <div class = "col-auto">
        <img src = "/assets/hand_holding_lactorun_vertical.png" class = "img-fluid img-index">
    </div>
    <div class = "col">
        <p>
            <h1 class = "index-text-banner">Para quem <strong class = "index-text-destaque">corre</strong> e para quem <strong class = "index-text-destaque">quer aprender</strong>!</h1>
            <div class = "row">
                <div class = "col-auto">
                    <button class = "btn btn-info btn-lg btn-big-index">
                        Começe agora! É de graça!
                    </button><p></p>
                </div>
                <div class = "col-auto">
                    <a class = "btn btn-outline-secondary btn-lg btn-big-index"
                     href="https://play.google.com/store/apps/details?id=br.ufpe.cin.lactorun"
                     target="_blank">
                        <img src = "/assets/logos/playstore.png" height = "30" width = "30" class = "mr-sm">
                        Baixe o app para Android!
                    </a>
                </div>
            </div>
            <small>Quer saber como funciona? <a href = "">Clica aqui</a> que a gente te conta.</small>
        </p>
        
        <hr style = "margin: 25px 0px; border-color: #91C2E3;">
        <p>
        Nascido no Colégio de Aplicação da Universidade Federal de Pernambuco, 
        o LactoRun é uma ferramenta para cálculo da <strong>Máxima Fase Estável de Lactato</strong> 
        de forma não invasiva. Por essa característica é uma ferramenta essencial para
        atletas e treinadores de alto desempenho. Além disso, o LactoRun pode ser usado 
        em <strong>escolas como ferramenta de ensino</strong>, pois conecta a Educação Física com várias
        outras disciplinas.
        </p>
    </div>
</div>
<hr>

<div class = "subtopic">
    Ferramenta Educacional
</div>

<h3>Interdisciplinaridade</h3>
Essa é a palavra de ouro quando se fala do uso do LactoRun como ferramenta Educacional.<p>

<h5>Educação Física</h5>
O maior impacto do LactoRun está em ser uma ferramenta de aprendizado pensada
também para a Educação Física, uma área que carece dessas tecnologias. Com a 
ferramenta o aluno poderá entrar na pele de um atleta de alto desempenho, e 
entender como os testes que ele faz na quadra se conectam com os assuntos de 
Química e Biologia, para explicar o que é o Lactato e como ele atua no corpo.<p>

<h5>Química</h5>
Isolado pela primeira vez pelo químico sueco Carl Wilhelm Scheele em 1780 o
ácido 2-hidroxipropanóico (IUPAC) ou Ácido Láctico tem como sua forma ionizada o 
Lactato que é o principal objeto de estudo do LactoRun.<p> 

<h5>Biologia</h5>
Durante exercícios de intensidade, como a corrida, onde a demanda de energia é 
alta a glicose é quebrada e oxidado em ácido pirúvico, e o lactato é produzido 
através desse ácido numa velocidade muito mais rápida do que o processo corporal
comum, causando assim um aumento nas concentrações corpóreas de lactato. Isso 
garante que a produção de energia seja mantida e que o exercício continue.<p>

<h5>Matemática</h5>
Por ser um método não invasivo de obtenção da Máxima Fase Estável de Lactato, o
LactoRun faz uso apenas das informações de velocidade do atleta (ou aluno). 
Para isso são necessárias fórmulas matemáticas que fazem uso dessa informação. 
Fica claro portanto, que os conhecimentos adquiridos em matemática podem ser 
usado como elemento de interligação entre as outras disciplinas citadas.

<hr>

<div class = "subtopic">
    Ferramenta para Atleta de Alto Desempenho e Treinadores
</div>

<h3>Máxima Fase Estável de Lactato</h3>
Como ferrementa para o esporte de alto desempenho o LactoRun se destaca por 
oferecer uma alternativa não invasiva para obtenção da Máxima Fase de Lactato. 
Um diferencial que torna o LactoRun mais barato, prático e acessível que o
método tradicional para atletas, treinadores e organizações.