<h1 class = "font-comfortaa">LactoRun</h1>
<h5>Inovação Tecnológica na Corrida e um Incentivo à Interdisciplinaridade</h5>

<h2>O que é o Lactorun?</h2>
Nascido no Colégio de Aplicação da Universidade Federal de Pernambuco, 
o LactoRun é uma ferramenta para cálculo da Máxima Fase Estável de Lactato de 
forma não invasiva. Por essa característica é uma ferramenta essencial para
atletas e treinadores de alto desempenho. Além disso, o LactoRun pode ser usado 
em escolas como ferramenta de ensino, pois conecta a Educação Física com várias
outras disciplinas. 

<hr>

<h2>Ferramenta Educacional</h2>

<h3>Interdisciplinaridade</h3>
Essa é a palavra de ouro quando se fala do uso do LactoRun como ferramenta Educacional.

<h4>Educação Física</h4>
O maior impacto do LactoRun está em ser uma ferramenta de aprendizado pensada
também para a Educação Física, uma área que carece dessas tecnologias. Com a 
ferramenta o aluno poderá entrar na pele de um atleta de alto desempenho, e 
entender como os testes que ele faz na quadra se conectam com os assuntos de 
Química e Biologia, para explicar o que é o Lactato e como ele atua no corpo.

<h4>Química</h4>
Isolado pela primeira vez pelo químico sueco Carl Wilhelm Scheele em 1780 o
ácido 2-hidroxipropanóico (IUPAC) ou Ácido Láctico tem como sua forma ionizada o 
Lactato que é o principal objeto de estudo do LactoRun. 

<h4>Biologia</h4>
Durante exercícios de intensidade, como a corrida, onde a demanda de energia é 
alta a glicose é quebrada e oxidado em ácido pirúvico, e o lactato é produzido 
através desse ácido numa velocidade muito mais rápida do que o processo corporal
comum, causando assim um aumento nas concentrações corpóreas de lactato. Isso 
garante que a produção de energia seja mantida e que o exercício continue.

<h4>Matemática</h4>
Por ser um método não invasivo de obtenção da Máxima Fase Estável de Lactato, o
LactoRun faz uso apenas das informações de velocidade do atleta (ou aluno). 
Para isso são necessárias fórmulas matemáticas que fazem uso dessa informação. 
Fica claro portanto, que os conhecimentos adquiridos em matemática podem ser 
usado como elemento de interligação entre as outras disciplinas citadas.

<hr>

<h2>Ferramenta para Atleta de Alto Desempenho e Treinadores</h2>

<h3>Máxima Fase Estável de Lactato</h3>
Como ferrementa para o esporte de alto desempenho o LactoRun se destaca por 
oferecer uma alternativa não invasiva para obtenção da Máxima Fase de Lactato. 
Um diferencial que torna o LactoRun mais barato, prático e acessível que o
método tradicional para atletas, treinadores e organizações.