<p class = "legal-title">Política de Privacidade LactoRun</p>
<i><small>Vigente a partir de: 10 de outubro de 2018</small></i>


<p class = "legal-text">
    <strong>Coleta e uso de informações</strong>
    <p>Ao se registrar no LactoRun, pedimos informações como nome, data de 
    nascimento, endereço de e-mail, entre outros. Sua informação é utilizada 
    internamente apenas e não será compartilhada com outros.</p>
    <p>O LactoRun coleta endereço de e-mail de quem se comunica conosco por 
    e-mail e através de informações enviadas em atividades voluntárias, como 
    por exemplo, inscrições realizadas no site ou participação em pesquisas. 
    LactoRun também coleta dados de uso do aplicativo sem identificação do usuário.
    Esses dados de uso que coletamos é utilizado para melhorias do LactoRun e 
    qualidade do serviço prestado. Apenas coletamos dados pessoais quando necessário
    ao fornecimento do serviço, e apenas guardamos a informação pelo tempo 
    necessário para prestação do serviço.</p>
</p>

<p class = "legal-text">
    <strong>Seus dados</strong>
    <p>LactoRun utiliza parceiros comerciais que fornecem hardware, software, 
    networking, armazenamento e tecnologia relacionada necessária para execução 
    do Todoist. Apesar do código, banco de dados e todos os diretos do aplicativo 
    LactoRun ser de domínio do LactoRun, você tem total direito sobre sua própria 
    informação. Nunca compartilharemos informações pessoais com terceiros sem 
    sua prévia autorização e jamais venderemos suas informações para terceiros. 
    Todo o processamento e armazenamento dos dados é feito no seu hardware.</p>
</p>

<p class = "legal-text">
    <strong>Mudanças</strong>
    <p>Se nossas práticas com relação às informações mudarem em algum momento, 
    nós postaremos as alterações de política em nosso Web site e informaremos a
    você sobre estas mudanças. Também utilizaremos, para estes novos propósitos, 
    apenas os dados coletados à partir da data da mudança da política. Se você 
    está preocupado sobre como sua informação é utilizada, você deverá 
    checar nosso Web site periodicamente.</p>
</p>
