<p class = "legal-title">Termos de Uso do LactoRun</p>

<h5 style = "margin-bottom: 0px;"><strong>Obrigado por escolher o LactoRun!</strong></h5>
<i><small>Vigente a partir de: 10 de outubro de 2018</small></i>

<p style = "margin-top: 15px;">
    Obrigado por escolher o LactoRun! O serviço LactoRun ("Serviço") é 
    desenvolvido, fornecido e suportado pelo grupo LactoRun da Universidade 
    Federal de Pernambuco. Ao usar nosso Serviço, você está de acordo com estes 
    Termos de Uso ("Termos") e certifica que leu e está ciente das implicações 
    do Manual do Uso ("Manual") e possui 18 anos (ou mais) ou está acompanhado 
    de um instrutor adulto habilitado. Se você está usando o Serviço em nome de
    uma organização ou entidade ("Organização"), então você está de acordo com 
    estes Termos em nome da Organização. Neste caso, "você" e "seu" referem-se 
    à sua Organização. Por favor leia os termos atentamente antes de começar a 
    usar nosso Serviço.
</p>

<p class = "legal-text">
    <strong>Alteração nos Termos de Uso</strong>
    <p>De tempos em tempos, o grupo LactoRun pode modificar o presente e/ou atualizá-lo com termos adicionais que apliquem-se ao Serviço. Por exemplo, o grupo LactoRun pode modificar estes termos para refletir mudanças previstas em lei. Você deve verificar os termos regularmente para se manter informado. Se você estiver cadastrado, o grupo LactoRun, também fornece notificações sobre as mudanças nos Termos nesta página ou pelo seu e-mail em nossos registros. Por favor note que, as mudanças não serão aplicadas retroativamente e entrarão em vigor após 30 (trinta) dias de sua divulgação em nosso site. Mudanças sobre novas funcionalidades do Serviço ou por razões legais podem entrar em vigor imediatamente. Você deve interromper o uso do Serviço se não estiver de acordo com os Termos atualizados/alterados.</p>
</p>

<p class = "legal-text">
    <strong>Proteção de Privacidade</strong>
    <p>As políticas de privacidade do grupo LactoRun explicam como tratamos suas informações pessoais e como protegemos sua privacidade no uso de nosso Serviço. Ao usar nosso Serviço, você concorda automaticamente com nossas políticas e o grupo LactoRun pode usar tais informações de acordo com sua política de privacidade.</p>
</p>

<p class = "legal-text">
    <strong>Seu Conteúdo em Nosso Serviço</strong>
    <p>Nosso Serviço permite que você suba, baixe e armazene conteúdos, incluindo mas não limitado a informações, gráficos, vídeos, áudios, ou qualquer outro material ("Conteúdo"). Você detém o direito intelectual de tal Conteúdo. Quando você sobe, armazena, envia ou recebe Conteúdo em ou através do nosso Serviço, você concede ao grupo LactoRun e seus parceiros comerciais, uma licença mundial de armazenar, subir e baixar este Conteúdo com o propósito de fornecer o Serviço exclusivamente à você e seu uso do Conteúdo. Reservamos todos os direitos de a qualquer momento, remover ou recursamos a distribuir qualquer Conteúdo através do Serviço, incluindo seu Conteúdo.</p>
</p>

<p class = "legal-text">
    <strong>Software em Nosso Serviço</strong>
    <p>Quando o Serviço requer ou inclui software para download, este software poderá ser atualizado automaticamente no seu aparelho uma vez que houver uma nova versão ou novas funcionalidades. Algumas plataformas poderão permitir que você ajuste suas preferências de atualizações automática</p>
    <p>O grupo LactoRun fornece uma licença pessoal, instranferível, mundial, livre de royalties e não exclusiva do uso do software fornecido pelo grupo LactoRun como parte do Serviço. Você não pode copiar, modificar, distribuir, vender ou conceder qualquer parte do Serviço ou do software, tampouco fazer engenharia reversa ou tentar extrair a fonte do código do software, a não ser que leis locais proíbam esta restrição ou você tenha autorização escrita para fazer isso.</p>
</p>

<p class = "legal-text">
    <strong>Alterando e Encerrando Nosso Serviço</strong>
    <p>O grupo LactoRun pode adicionar ou remover funcionalidades e ferramentas durante o curso natural de melhorias, alterações e/ou atualizações do Serviço. Também poderemos suspender ou interrromper nosso Serviço, fornecendo pelo menos trinta (30) dias de aviso prévio antes de encerrar o Serviço por completo.</p>
    <p>Você pode deixar de usar nosso Serviço quando quiser. Poderemos deixar de fornecer nossos Serviços, adicionar ou criar novas limitações em nosso Serviço a qualquer tempo, como detalhado nos Termos.</p>
</p>

<p class = "legal-text">
    <strong>Usando Nosso Serviço</strong>
    <p>Você deve obedecer à todas as políticas disponibilizadas pelo Serviço. Você só pode usar nosso Serviço conforme permitido por lei. O grupo LactoRun pode investigar e/ou suspender ou encerrar o serviço a qualquer momento, se percebermos que seu uso do nosso Serviço viola os Termos e/ou quaisquer políticas.</p>
    <p>O uso de nosso Serviço não concede direito sobre qualquer propriedade intelectual em nosso Serviço ou em conteúdos que você possa acessar. Você não pode usar nenhum conteúdo protegido por direitos autorais em nosso Serviço, a menos que obtenha permissão do proprietário do conteúdo e/ou seja permitido por lei. Os Termos não concedem a você o direito de usar qualquer marca ou logotipos usados em nosso Serviço. Nosso Serviço pode exibir alguns logotipos, marcas comerciais ou materiais de marca que não são de propriedade do grupo LactoRun. Esse tipo de conteúdo são de responsabilidade exclusiva da entidade que os disponibiliza.</p>
    <p>Você não pode abusar e/ou usar indevidamente nosso Serviço, incluindo mas não limitado, ao que segue:</p>
    <ul>
        <li>Uso do Serviço para propósitos ou atividades ilegais;</li>
        <li>Subir qualquer conteúdo no Serviço que viole qualquer lei vigente, incluindo mas não limitado, às leis de propriedade intelectual e publicidade;</li>
        <li>Envio de promoções e propagandas não solicitadas;</li>
        <li>Acessar ou adulterar os sistemas de servidor do Serviço;</li>
        <li>Interferir ou interromper o acesso de qualquer usuário, host ou rede;</li>
        <li>Abusar ou enviar solicitações em excesso ao Serviço por meio da API.</li>
    </ul>
    <p>O grupo LactoRun, a seu exclusivo critério, determinará o que é abuso e/ou uso indevido do nosso Serviço.</p>
</p>

<p class = "legal-text">
    <strong>Responsabilidade Limitada pelo Nosso Serviço</strong>
    <p>PELO MAIOR TEMPO PREVISTO EM LEI, O SERVIÇO ESTARÁ DISPONÍVEL "COMO ESTÁ". VOCÊ ENTENDE E CONCORDA EXPRESSAMENTE QUE:</p>
    <p>QUANDO PERMITIDO POR LEI, O GRUPO LACTORUN E SEUS PARCEIROS DE SERVIÇOS, LICENCIADORES, FUNCIONÁRIOS, AGENTES NÃO SERÃO RESPONSÁVEIS POR LUCROS CESSANTES, RECEITAS, OU DADOS, PERDAS FINANCEIRAS OU DANOS INDIRETOS, ESPECIAIS, CONSEQÜENTES, EXEMPLARES OU PUNITIVOS SOB QUALQUER CIRCUNSTÂNCIA.</p>
    <p>SEU USO E/OU COMPRA DO SERVIÇO SÃO POR SUA CONTA E RISCO. O SERVIÇO É FORNECIDO "COMO ESTÁ".</p>
    <p>
        O GRUPO LACTORUN NÃO GARANTE QUE:<br>
        1. O SERVIÇO ATENDERÁ TODOS OS SEUS REQUISITOS EM TODOS OS MOMENTOS;<br>
        2. O SERVIÇO SERÁ LIVRE DE ERROS E TODOS OS ERROS NO SERVIÇO SERÃO CORRIGIDOS;<br>
        3. O SERVIÇO NÃO SERÁ INTERROMPIDO.
    </p>
    <p>TODO CONTEÚDO BAIXADO, CARREGADO E/OU OBTIDO DE OUTRA MANEIRA ATRAVÉS DO USO DO SERVIÇO É FEITO POR SUA PRÓPRIA CONTA E RISCO E VOCÊ É O ÚNICO RESPONSÁVEL POR QUALQUER DANO CAUSADO EM SEU COMPUTADOR OU APARELHOS, INCLUINDO MAS NÃO LIMITADO A NOTEBOOK, DESKTOP, TABLETS, SMARTPHONES E SMARTWATCHES, OU QUALQUER PERDA DE DADOS RESULTANTE DE BAIXA OU USO DE QUALQUER MATERIAL ACIMA MENCIONADO.</p>
    <p>O GRUPO LACTORUN NÃO SE RESPONSABILIZA TAMBÉM PELO MAL USO E NÃO EFICIÊNCIA DOS MÉTODOS DESCRITOS NO MANUAL, ALÉM DE NÃO SE RESPONSABILIZAR POR EVENTUAIS ACIDENTES DE QUALQUER NATUREZA QUE ACONTEÇÃO DURANTE O USO DO SOFTWARE E/OU DOS PROCEDIMENTOS.</p>
</p>

<p class = "legal-text">
    <strong>Coleta e uso de informações</strong>
    <p>Ao se registrar no LactoRun, pedimos informações como nome, data de nascimento, endereço de e-mail, entre outros. Sua informação é utilizada internamente apenas e não será compartilhada com outros.</p>
</p>