<% test = local_assigns[:test] %>
<% sprint_list = local_assigns[:sprint_list] %>
<div class="modal fade cursor-auto" id=<%="modal" + local_assigns[:test].id.to_s%> tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
  <div class="modal-dialog  modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="TituloModalCentralizado"><%= local_assigns[:test].local %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class = "container">
              <div class = "row">
                  <!-- Primeira Sprint -->
                    <div class = "col align-self-center">
                            <div class = "row ">
                                <h5><center><strong>Primeira Sprint</strong></center></h5>
                            </div>
                            <div class = "row ">
                                <% if sprint_list.size <= 0 %>
                                    <button class = "btn btn-success">Adicionar 1ª Sprint</button>
                                <% else %>
                                    <i class="far fa-check-circle tlsi-s text-xlg"></i>
                                <% end %>
                            </div>
                    </div>
                    
                    <!-- Segunda Sprint -->
                    <div class = "col align-self-center">
                        <div class = "row">
                            <h5><center><strong>Segunda Sprint</strong></center></h5>
                        </div>
                        <div class = "row">
                            <% if sprint_list.size <= 1 %>
                                <button class = "btn btn-success">Adicionar 2ª Sprint</button>
                            <% else %>
                                <i class="far fa-check-circle tlsi-s text-xlg"></i>
                            <% end %>
                        </div>
                    </div>
                    
                    
                    <!-- Terceira Sprint -->
                    <div class = "col align-self-center">
                        <div class = "row">
                            <h5><center><strong>Terceira Sprint</strong></center></h5>
                        </div>
                        <div class = "row">
                            <% if sprint_list.size <= 2 %>
                                <button class = "btn btn-success">Adicionar 3ª Sprint</button>
                            <% else %>
                                <i class="far fa-check-circle tlsi-s text-xlg"></i>
                            <% end %>
                        </div>
                    </div>
                    
                    
                    <!-- Quarta Sprint -->
                    <div class = "col align-self-center">
                        <div class = "row">
                            <h5><center><strong>Quarta Sprint</strong></center></h5>
                        </div>
                        <div class = "row">
                            <% if sprint_list.size <= 3 %>
                                <button class = "btn btn-success">Adicionar 4ª Sprint</button>
                            <% else %>
                                <i class="far fa-check-circle tlsi-s text-xlg"></i>
                            <% end %>
                        </div>
                    </div>
              </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>