<div class = "manager_decision_container">
    <center>
    <div class = "manager_decision_inner">
        <h1 class = "manager_decision_title">Como você pretende usar o LactoRun?</h1>
        Essa decisão afeta como você interage com o LactoRun e <strong>não pode ser desfeita</strong>. Está com dúvidas de como decidir? 
        <button class = "btn btn-link" style = "margin: 0px; padding: 0px;" onclick="window.location.href='#plans'">Clique aqui</button>.
    </div>
    </center>
    <div class = "container my-5">
        <center>
        <div class = "row">
            <div class = "col">
                <div class = "btn-manager-decision">
                    <a class = "btn" href = <%= app_set_path.to_s + "?is_manager=true" %>>
                        <img src = "/assets/whistle.png" class = "manager-decision-button-image"><br>
                        <h4 class = "font-raleway"><strong>Treinador ou Professor</strong></h4>
                        <small>Ideal para quem vai gerenciar equipes mas não praticar os testes. Aqui você acessa os dados da sua equipe e <strong>pode ver gráficos e instruções</strong>.</small>
                    </a>
                </div>
                <br><br>
            </div>
            <div class = "col">
                <div class = "btn-manager-decision">
                    <a class = "btn" href = <%= app_set_path.to_s + "?is_manager=false" %>>
                        <img src = "/assets/running-shoes.png" class = "manager-decision-button-image"><br>
                        <h4 class = "font-raleway"><strong>Atleta ou Estudante</strong></h4>
                        <small>Para quem vai dar o gás, seja na pista, seja nos estudos. Aqui você registra seus testes e <strong>acompanha sua evolução.</strong></small>
                    </a>
                </div>
            </div>
        </div>
        </center>
    </div>
</div>

<%= render 'shared/plans' %>