// Place all the styles related to the app controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.manager_decision_container{
    padding-top: 50px;
    padding-bottom: 50px;
    min-height: 100vh;
}

.manager_decision_title{
    font-weight: 900;
    font-family: 'Raleway: 900', sans-serif;
    color: var(--darkblue);
}

.btn-manager-decision{
    background-color: white;
    padding: 35px 12px 35px 12px;
    border-radius: 15px;
    border: none;
    width: 90%;
    max-width: 300px;
    min-height: 415px;
}

.manager-decision-button-image{
    height: 128px;
    width: auto;
    margin-bottom: 30px;
}

.manager_decision_inner{
    max-width: 500px;
    text-align: center;
}

.hidden{
    display: none;
}

.btn-dashboard{
    width: 100%;
    padding: 10px 10px 10px 10px;
    margin-bottom: 5px;
    
    border-radius:0px;
    border: none;
    border-left: 2px solid var(--darkblue);
    
    background: none;
    color: var(--darkblue);
    
    text-align: left;
    font-size: 0.92em;
    
    
}

.btn-dashboard:hover{
    background: white;
    border-left: 5px solid var(--darkblue);
}

.dashboard_main_col{
    background-color: var(--lightdefaultblue); 
    padding: 0px !important;
    border-left: 1px solid var(--nheblue);
    border-right: 1px solid var(--nheblue);
    overflow-x: auto;
    min-height: 0;
}

.list_item{
    background: var(--reallightdefaultblue);
    margin-bottom: 0px;
    width: 100%;
    min-width: 350px;
    padding: 7px 0px;
    display: flex;
    
    border: 1px solid var(--defaultblue);
}

.circle_info{
    background: var(--darkblue);
    border-radius: 50%;
    border: 3px solid var(--darkpoolblue);
    height: 62px;
    width: 62px;
    color: white;
    text-align: center;
    padding-top: 20px;
    line-height: 10px;
}

.test-local-title{
    font-size: 0.95em;
    font-weight: bold;
    color: var(--realdarkpoolblue);
}

.test-local-subtitle{
    font-size: 0.65em;
}

.test-local-status{
    width:auto;
    font-size: 0.55em;
    font-weight: bold;
    color: var(--realdarkpoolred);
    margin-right: 17px;
}

.tlsi-f{
    font-size: 0.55em;
    color: var(--realdarkpoolred);
}

.tlsi-s{
    font-size: 0.55em;
    color: var(--realdarkpoolgreen);
}

.circle-number{
    font-size: 0.9em;
    font-weight: bold;
}

.btn-circle{
    border-radius: 50% !important;
    height: 32px;
    width: 32px;
    padding: 2px 0px 0px 2px !important;
}