// Place all the styles related to the app controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.manager_decision_container{
    padding-top: 50px;
    padding-bottom: 50px;
    min-height: 100vh;
}

.manager_decision_title{
    font-weight: 900;
    font-family: 'Raleway: 900', sans-serif;
    color: var(--darkblue);
}

.btn-manager-decision{
    background-color: white;
    padding: 35px 12px 35px 12px;
    border-radius: 15px;
    border: none;
    width: 90%;
    max-width: 300px;
    min-height: 415px;
}

.manager-decision-button-image{
    height: 128px;
    width: auto;
    margin-bottom: 30px;
}

.manager_decision_inner{
    max-width: 500px;
    text-align: center;
}

.hidden{
    display: none;
}

.btn-dashboard{
    width: 100%;
    padding: 10px 10px 10px 10px;
    margin-bottom: 5px;
    
    border-radius:0px;
    border: none;
    border-left: 2px solid var(--darkblue);
    
    background: none;
    color: var(--darkblue);
    
    text-align: left;
    font-size: 0.92em;
    
    
}

.btn-dashboard:hover{
    background: white;
    border-left: 5px solid var(--darkblue);
}

.dashboard_main_col{
    background-color: var(--lightdefaultblue); 
    padding-top: 35px;
    border-left: 1px solid var(--nheblue);
    border-right: 1px solid var(--nheblue);
    overflow-x: auto;
}

.list_item{
    background: var(--reallightdefaultblue);
    margin-bottom: 10px;
    width: 100%;
    min-width: 300px;
    padding: 7px 0px;
    display: flex;
}

.circle_info{
    background: var(--darkblue);
    border-radius: 50%;
    border: 5px solid var(--darkpoolblue);
    height: 50px;
    width: 50px;
    color: white;
    font-size: 0.7em;
    text-align: center;
    
}