/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap';

:root{
    --darkblue: #2f3d57;
    --greyblue: #4a4d5c;
    --defaultblue: #91c2e3;
    --highlightblue: #36577a;
    --lightblue: #CDE7F9;
    --default2blue: #7ad5e9;
    
    --lightdefaultblue: #a5cbe5;
    --reallightdefaultblue: #c1e1f6;
    --nheblue: #86b4d3;
    
    --darkpoolblue: #0183a7;
    --realdarkpoolblue: #007599;
    
    --realdarkpoolred: #990000;
    --realdarkpoolgreen: #079900;
}

/* Padrões */
body{
    font-family: 'Roboto', sans-serif;
    text-align: justify;
    background: #91c2e3;
    color: var(--darkblue);
}

h1,h2,h3,h4,h5,h6{
}

/* Atalhos*/

.ml-sm{
    margin-left: 5px;
}

.mr-sm{
    margin-right: 5px;
}

.mt-sm{
    margin-top: 5px;
}

.mb-sm{
    margin-bottom: 5px;
}

.lh-sm{
    line-height: 10px;
}

.text-bold{
    font-weight: bold;
}

.text-center{
    text-align: center;
}

.text-sm{
    font-size: 0.75em;
}

.text-xlg{
    font-size: 2em;
}

.font-comfortaa{
    font-family: 'Comfortaa', cursive;
}

.font-raleway900{
    font-weight: 900;
    font-family: 'Raleway: 900', sans-serif;
}

.font-raleway{
    font-family: 'Raleway: 900', sans-serif;
}

.font-roboto{
    font-family: 'Roboto', sans-serif;
}

.font-oswald{
    font-family: 'Oswald', sans-serif;
}

.cursor-auto{
    cursor: auto;
}

.pointer:hover{
    cursor: pointer;
}

/* Classes */
.alert-more{
    margin-bottom: 0px; 
    position: fixed; 
    bottom: 1px;  
    z-index: 9999;
}
@media(max-width: 575px){
    .alert-more{
        width: 100%;
    }
}

.navbar-bg{
    background: var(--darkblue);
}

.navbar-lactorun{
    padding-top: 15px;
    padding-bottom: 15px;
}

.container-white{
    background: white; 
    padding-bottom: 75px;
}

.index-header{
    position: relative;
}

.index-header-img{
    width: 100vw;
    height: 35vh;
    object-fit: cover;
    object-position: center;
}

.index-header-text{
    color: white;
    text-align: center;
    background: #4A4D5CA1;
    padding: 5px 0px;
    
    position: absolute;
    left: 0;
    top: 9vh;
    width: 100%;
}

.index-text-banner{
    text-align: left;
    margin-bottom: 20px;
    
    font-weight: 900;
    font-family: 'Raleway: 900', sans-serif;
}

.index-text-destaque{
    color: var(--highlightblue);
}

.btn-big-index{
    padding: 16px 32px;
}


.subtopic{
    padding: 25px 10px;
    margin: 20px 0px;
    background: var(--highlightblue);
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 1.5em;
    /*font-weight: bold;*/
}

@media (min-width: 400px){
    .img-index{
        max-width: 350px; 
        height: auto;    
    }
}

.footer{
    background: var(--greyblue);
    
    padding: 25px 10px;
    /*margin-top: 15px;*/
    
    text-align: center;
    color: white;
    font-size: 0.8em;
}

.legal-title{
    font-size: 2.5em;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    
    padding: 25px 0px 18px 0px;
}

.legal-text{
    margin-top: 35px;
}

.footer-a{
    color: #91c2e3;
    text-decoration: underline;
}

.footer-a:hover{
    color: #6487ad;
}


@media(min-width: 992px){
    .btn-nav{
        max-width: 125px;
    }    
}

.sign-field{
    background-color: var(--lightblue);
    padding: 5px 10px 10px 10px;
    border-radius: 7px;
    
    margin-bottom: 10px;
}

.sign-modal{
    background-color: var(--defaultblue);
    /*max-width: 350px;*/
}

@media(max-width: 575px){
    .botao-flutuante{
        position: fixed;
    }
}

@media(min-width: 576px){
    .botao-flutuante{
        position: absolute;
    }
}

.botao-flutuante{
    bottom: 32px;
    right: 32px;
    
    font-size: 25px;
    color: white;
    text-align: center;
    
    background: var(--darkblue);
    border-radius: 50%;
    box-shadow: 1px 2px 2px rgba(0,0,0,0.5);
    
    padding-top: 7px;
    height: 50px;
    width: 50px;
}

.botao-flutuante:hover{
    background: var(--greyblue);
    color: white;
}

.navbar-circle{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    color: white;
}

.navbar-circle:hover{
    color: white;
}

.dropdown-item:hover{
    background: #e5e5e5;
}

.dashboard-container{
    min-height: calc(100vh - 72px); 
    max-height: calc(100vh - 72px);  
    position: relative;
}