/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap';

:root{
    --darkblue: #2f3d57;
    --greyblue: #4a4d5c;
    --defaultblue: #91c2e3;
}

/* Padrões */
body{
    font-family: 'Roboto', sans-serif;
    text-align: justify;
}

h1,h2,h3,h4,h5,h6{
}

/* Atalhos*/

.ml-sm{
    margin-left: 5px;
}

.mr-sm{
    margin-right: 5px;
}

.mt-sm{
    margin-top: 5px;
}

.mb-sm{
    margin-bottom: 5px;
}

.text-bold{
    font-weight: bold;
}

.text-center{
    text-align: center;
}

.text-sm{
    font-size: 0.75em;
}

.font-comfortaa{
    font-family: 'Comfortaa', cursive;
}


/* Classes */
.navbar-bg{
    background: var(--darkblue);
}

.index-header{
    position: relative;
}

.index-header-img{
    width: 100vw;
    height: 35vh;
    object-fit: cover;
    object-position: center;
}

.index-header-text{
    color: white;
    text-align: center;
    background: #4A4D5CA1;
    padding: 5px 0px;
    
    position: absolute;
    left: 0;
    top: 9vh;
    width: 100%;
}

.subtopic{
    padding: 25px 10px;
    margin: 20px 0px;
    background: var(--defaultblue);
    font-size: 1.5em;
    font-weight: bolder;
}

@media (min-width: 400px){
    .img-index{
        max-width: 350px; 
        height: auto;    
    }
}

.footer{
    background: var(--greyblue);
    
    padding: 25px 10px;
    margin-top: 15px;
    
    text-align: center;
    color: white;
    font-size: 0.8em;
}